<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>77</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>76</string>
					<key>Timestamp</key>
					<string>730279180.33646</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>e-commerce/Cells/CategoriesCell/CategoryTableViewCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            collectionView.collectionViewLayout = UICollectionViewFlowLayout()
</string>
				<key>leading</key>
				<string>            let cell = collectionView.dequeueReusableCell(withReuseIdentifier: RestaurantsCollectionViewCell.identifier, for: indexPath)as! RestaurantsCollectionViewCell
            cell.config(resturant: resturants[indexPath.row])
</string>
				<key>trailing</key>
				<string>            return cell
        }else if indexPath.section == 2{
            let cell = collectionView.dequeueReusableCell(withReuseIdentifier: bestProductsCollectionViewCell.identifier, for: indexPath)as! bestProductsCollectionViewCell
</string>
			</dict>
			<key>title</key>
			<string>important</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
